:root {
  --elliotPrimary: #72afd4;
  --elliotSecondary: #577399;
  --elliotTealBlue: #287896;
  --elliotCta: #ffa62b;
  --elliotCtaHover: #d5861a;
  --elliotVisited: #7e359e;
  --elliotLinkSearch: #1a0dab;
  --dimGrey: #999;
  --lighterGrey: #f0f0f0;
  --lightGreyBackground: #f7f7f7;
  --lightAzureBackground: #f7f7ff;
  --lightGrey: #e8e8e8;
  --textColor: #333;
  --error: #ad081b;
  --fontCommon: 'Arial', 'Arial Bold', 'Gadget', sans-serif;
  --fontBlack: 'Arial Black', 'Arial Bold', 'Gadget', sans-serif;
  --zindex0: 0;
  --zindex10: 10;
  --zindex50: 50;
  --zindex100: 100;
  --zindex200: 200;
  --zindex300: 300;
}

@tailwind base;

@tailwind components;

.btn {
  @apply text-gray-200 py-2 px-4 rounded font-bold;
}

.btn:hover {
  @apply text-white;
}

@tailwind utilities;

img, svg, video, canvas, audio, iframe, embed, object {
  display: initial;
}

html,
body,
#__next {
  height: 100%;
}

html {
  font-size: 82.5%;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  background: white;
  color: var(--textColor);
  font-weight: 400;
  min-height: 100%;
  line-height: 1.5;
  font-size: 14px;
  font-family: var(--fontCommon);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontCommon);
  font-weight: 700;
}

h1,
h2,
h3 {
  line-height: 1.3;
  margin-top: 20px;
  margin-bottom: 10px;
}

h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 26px;
  font-size: 1.8em;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}